.dialogOverlay {
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
  position: fixed;
}

.createDialog {
  background-color: #1f1e1e;
  border-radius: 8px;
  left: 50%;
  max-width: 30rem;
  outline: 4px solid rgb(65, 65, 65);
  padding: 1.8rem 2rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.createDialog form {
  display: flex;
  flex-direction: column;
}

.createDialog h2 {
  margin-bottom: 1rem;
  color: #ffffffe0;
  font-size: 1.4rem;

}

.createDialog input {
  background: none;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  margin: 0.5rem 0;
  outline: none;
  outline: 2px solid rgb(65, 65, 65);
  padding: 0.9rem;

  &:focus {
    outline: 2px solid #3bff86;
  }
}

.createDialog label {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffffb7;
}

.createDialogActions {
  align-self: end;
}

.createDialogActions button {
  background: #494949;
  border: none;
  border-radius: 8px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  font-size: 1rem;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.4rem 0;
  outline: none;
  padding: 1rem;
  padding: 1rem 2rem;
  text-transform: uppercase;

  &:hover {
    background: #585858;
  }
}

.createDialogActions button + button {
  margin-left: 0.4rem;
}

.createDialogActions .mainButton {
  background: #06d755;
  color: black;

  &:hover {
    background: #3bff86;
  }
}
