@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 97vh; */
    overflow: hidden;
    /* background: linear-gradient(#009688 0%, #009688 40px, #d9dbd5 40px, #d9dbd5 100%); */
}

.container{
    position: relative;
    /* width: 1395px; */
    width: 100%;
    height: 100vh;
    /* height: 99%; */
    background: #fff;
    box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    display: flex;
}

.container .leftSide{
    position: relative;
    flex: 20%;
    max-width: 300px;
    /* background: #fff; */
    background: rgba(21, 19, 19, 0.88);
    border-right: 1px solid #000;
}
.container .centerBox{
    position: relative;
    max-width: calc(100%-600px);
    /* flex: 60%; */
    /* background: #e5ddd5; */
    background: rgb(0, 0, 0);
}

.container .rightSide{
    position: relative;
    flex: 20%;
    max-width: 300px;
    background: rgba(21, 19, 19, 0.88);
    border-left: 1px solid #000;
}

.container .centerBox::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: grey;
    /* Insert image for background */
    opacity: 0.45;
}

.header{
    position: relative;
    width: 100%;
    height: 60px;
    /* background: #d7d3d3; */
    background: rgba(21, 19, 19, 0.851);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.userimg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_icons{
    display: flex;
}

.nav_icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    /* color: #51585c; */
    color: rgba(255, 255, 255, 0.777);
    font-size: 1.5em;
    margin-left: 22px; 
}

.search_chat{
    position: relative;
    width: 100%;
    height: 60px;
    /* background: #f6f6f6; */
    background: rgba(21, 19, 19, 0.851);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 5px;
}

.search_chat div{
    width: 100%;
}

.search_chat div input{
    width: 100%;
    outline: none;
    border: none;
    /* background: #fff; */
    background: rgba(80, 79, 79, 0.394);
    padding: 6px;
    height: 38px;
    border-radius: 14px;
    padding-left: 40px;
    transition: 0.2s;
}

/* .search_chat div input:valid, */
.search_chat div input:focus{
    outline-style: solid;
    /* outline-width: 0.2px; */
    outline-color: #06d755;
}

.search_chat div ion-icon{
    position: absolute;
    left: 30px;
    top: 20.5px;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.773);   
}

.chatlist{
    position: relative;
    height: calc(100%-110px);
    /* 110px = 50px search_chat + 60px header  */
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    /* background: rgb(176, 176, 176); */
    /* opacity: 0.56; */
}

.chatlist .block {
    position: relative;
    width: 90%;
    left: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0.5em;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.56); */
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.39);
    cursor: pointer;
}

.chatlist .block.active{
    /* background: #454545; */
    background: rgba(0, 0, 0, 0.9);
    outline-style: solid;
    outline-color: #06d755;
    outline-width: 2px;
}


.chatlist .block:hover{
    background: #545454;
}

.chatlist .block .imgbx{
    position: relative;
    min-width: 45px;
    max-width: 90%;
    /* left: 5%; */
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    padding: 1em 1em;
    margin-right: 0.5em;
}

.chatlist .block .details{
    position: relative;
    width: 90%;
    /* left: 5%; */
    right:5px;
}

.chatlist .block .details .listHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.15em;
}

.chatlist .block .details .listHead h4{
    font-size: 1.1em;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.777);
    padding-left: 0.2em;
    margin-right: 0.5em;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatlist .block .details .listHead .time{
    font-size: 0.75em;
    color: #aaa;
}

.chatlist .block.active .details .listHead .time{
    color: rgb(255, 255, 255);
}

.chatlist .block.unread .details .listHead .time{
    color: #06d755;
}

.chatlist .block.active .details .listHead h4{
    font-weight: 1000;
    color: white;
}

.chatlist .block.unread .details .listHead h4{
    color: #06d755;
}

.chatlist .block.unread .details .message_p p{
    color: #ffffffe3;
}

.message_p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_p p{
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-left: 0.2em;
    text-overflow: ellipsis;
}

.message_p b{
    background: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em
}

.imgText{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4{
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
    color: #f5f5f5;
}

.imgText h4 span{
    font-size: 0.8em;
    color: rgb(164, 159, 159);
}

.chatBox{
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    /* 100 - (head + bot) */
    padding: 50px;
    overflow-y: auto;
}

.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.message p{
    position: relative;
    /* right: 0; */
    text-align: left;
    max-width: 65%;
    padding: 12px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    /* background: #dcf8c6; */
    background: #06d755;
    border-radius: 12px;
    font-size: 0.9em;
    overflow-wrap: break-word;
}

/* .message p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #dcf8c6 0%, #dcf8c6 50%, transparent 50%,transparent);
} */

.message p span{
    display: block;
    margin-top: 2.5px;
    font-size: 0.85em;
    opacity: 0.5;
}

.message p nickname{
    display: block;
    margin-bottom: 2.5px;
    font-size: 0.85em;
    opacity: 0.5;
    max-width: fit-content;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    cursor: pointer;
}

.my_message{
    justify-content: flex-end;
}

.my_message .userimg{
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: -45px;
    margin-left: 5px;
    align-self: center;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.frnd_message{
    justify-content: flex-start;
}

.frnd_message p{
    background: #fff;
    text-align: left;
}

.frnd_message .frndimg{
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: -45px;
    align-self: center;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

/* .message.frnd_message p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%,transparent);
} */

.chatbox_input{
    position: relative;
    width: 100%;
    height: 60px;
    /* background: #f0f0f0; */
    background: rgba(21, 19, 19, 0.851);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbox_input ion-icon{
    cursor: pointer;
    font-size: 1.8em;
    /* color: #51585c; */
    color: rgba(255, 255, 255, 0.746);
}

.chatbox_input ion-icon:nth-child(1){
    margin-right: 15px;
}

.chatbox_input input{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
    background: rgba(80, 79, 79, 0.394);
    transition: 0.2s;
}

/* .chatbox_input input:valid, */
.chatbox_input input:focus{
    outline-style: solid;
    outline-color: #06d755;
}

.chatbox_input input::placeholder{
    color: rgba(197, 194, 194, 0.429);
}

input{
    color:rgba(255, 255, 255, 0.676);
}

.rightSide .header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rightSide .header h3{
    color: rgba(255, 255, 255, 0.733);
}

.channellist{
    position: relative;
    width: 100%;
    height: calc(50% - 60px);
    /* 110px = 50px search_chat + 60px header  */
    overflow-y: auto;
    /* padding: 1em 2em 1em 2em; */
    padding-top: 0.5em;
    /* background: rgb(176, 176, 176);
    opacity: 0.56; */
    border-bottom: 1px solid #000;
}

.channellist .channel{
    position: relative;
    width: 75%;
    left: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0.5em;
    margin: 12px 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.channellist .channel:hover{
    background: rgba(0, 0, 0, 0.801);
    /* background: #06d7565d; */
}

.channellist .channel p{
    color: rgba(255, 255, 255, 0.733);
}

.channellist .channel p:hover{
    /* color: rgba(255, 255, 255, 0.91); */
    color: #06d755;
}

.channellist .channel_unread{
    position: relative;
    width: 75%;
    left: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0.5em;
    margin: 12px 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.35);
    color: #06d755;
    cursor: pointer;
}

.channellist .channel_unread p{
    color: #06d755;
}

.channellist .channel_unread:hover{
    background: rgba(0, 0, 0, 0.801);
    /* background: #06d7565d; */
}

.channellist .channel_active{
    position: relative;
    width: 75%;
    left: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0.5em;
    margin: 12px 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    cursor: pointer;
    outline-style: solid;
    outline-color: #06d755;
    outline-width: 2px;
}

.channellist .channel_active p{
    color: white;
    font-weight: 600;
}

.channellist .channel_active:hover{
    background: rgba(0, 0, 0, 0.801);
    /* background: #06d7565d; */
}

.peoplelist {
    position: relative;
    height: 50%;
    overflow-y: auto;
    /* background: rgb(176, 176, 176);
    opacity: 0.56; */
}

.peoplelist .block {
    position: relative;
    max-width: 85%;
    left: 7.5%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.5em 0.5em;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.39);
    cursor: pointer;
}

.peoplelist .block .imgbx{
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    padding: 1em 1em;
    margin-right: 0.5em;
}

.peoplelist .block .details{
    position: relative;
    /* overflow-wrap: break-word; */
    /* background: red; */
    max-width: 100%;
}

.peoplelist .block .details .listHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.15em;
    /* overflow-wrap: break-word; */
}

.peoplelist .block .details .listHead p{
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-left: 0.2em;
    text-overflow: ellipsis;
}

.peoplelist .block .details .listHead p:hover{
    color: rgba(255, 255, 255, 0.876);
}
