@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(24, 24, 24, 0.9);
}

.box{
    /*Just floating box*/
    position: relative;
    min-width: 1000px;
    min-height: 900px;
    width: 80%;
    height: 85%;

    /*Entire screen*/
    /* position: absolute;
    width: 100%;
    height: 100%; */

    background: rgba(57, 56, 56, 0.736);
    border-radius: 8px;
    outline: 1px solid black;
    overflow: hidden;
    display: flex;
}

.box .leftSide{
    position: relative;
    /* width: 25%; */
    flex: 12.5%;
    border-right: 2px solid black;
}

.box .leftSide .profilePic{
    position: relative;
    background: rgba(15, 15, 15, 0.55);
    border-bottom: 0.5px solid black;
}

.box .leftSide .profilePic .imgContainer{
    position: relative;
    width: 90%;
    height: 35%;
    align-items: center;
    justify-content: center;
}

.box .leftSide .profilePic img{
    position: relative;
    max-width: 80%;
    max-height: 80%;
    text-align: center;
    margin-left: 15%;
    margin-top: 30px;
    border-radius: 50%;
    cursor: pointer;
    outline: 2px solid #06d755;
}

.box .leftSide .profilePic p{
    position: relative;
    color: grey;
}
.box .leftSide .profilePic p:hover{
    cursor: pointer;
}

.box .rightSide {
    position: relative;
    /* width: 75%; */
    flex: 75%;
    background: black;
}

.box .rightSide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: 0.45;
}

.box .leftSide .optionsList{
    position: relative;
    width: 80%;
    height: 60%;
    margin-left: 10%;
    margin-top: 8%;
    overflow-y: scroll;
}

.option {
    position: relative;
    width: 75%;
    left: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0.5em;
    margin: 12px 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.option.active {
    background: rgba(0, 0, 0, 0.9);
    outline: 2px solid #06d755;
    cursor: pointer;
}

.option.active p{
    color: white;
}

.option:hover{
    background: black;
}

.option p{
    color: rgba(255, 255, 255, 0.733);
    font-size: larger;
}

.option p:hover{
    color: white;
}

.box .rightSide .topBanner{
    position: relative;
    width: 100%;
    height: 80px;
    background: rgba(21, 19, 19, 0.851);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.box .rightSide .topBanner .bannerText h4{
    position: relative;
    font-weight: 800;
    font-size: 1.8em;
    color: #f5f5f5;
}

.topBanner .bannerIcons {
    display: flex;
}

.topBanner .bannerIcons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.777);
    font-size: 2em;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 22px;
}
.rightSide .infoList{
    position: relative;
    margin-top: 20px;
    max-height: 820px;
    overflow-y: scroll;
}
.rightSide .infoList .infoBlock{
    position: relative;
    width: 85%;
    margin-left: 5%;
    margin-top: 2em;
    height: 8em;
    border-radius: 10px;
    background: rgba(47, 46, 46, 0.936);
}

.infoBlock h3 {
    position: relative;
    font-size: 2.2em;
    padding-left: 30px;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.433);
}

.infoBlock p{
    position: relative;
    font-size: 1.4em;
    padding-left: 50px;
    padding-top: 20px;
    color: white;
}

/*Remove to view password as text*/
.infoBlock .password{
    text-security: disc; /*IE/Safari*/
    -moz-text-security: disc; /* FireFox */
    -webkit-text-security: disc; /* Chrome/Safari  */
}
.infoBlock ul{
    position: absolute;
    display: flex;
    list-style: none;
    margin-left: 75%;
    translate: 0px -25px;
}

.infoBlock .changeInfo li{
    padding-left: 5px;
    padding-right: 5px;
    color: #06d755;
    cursor: pointer;
}

.infoBlock .changeInfo li:hover{
    font-weight: 600;
    color: #01f55e;
}

.infoBlock.invite .inviteImg img{
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 3%;
    margin-top: 25px;
    border-radius: 50%;
}

.infoBlock.invite p{
    translate: 100px -80px; /*img width + some margin, -img height*/
}

.infoBlock.invite ul{
    translate: 0 -105px; /*-img height -25px*/
}

.rightSide input{
    position: relative;
    border: none;
    outline: none;
    background: #06d7565d;
    text-align: center;
    margin-top: 20px;
    margin-left: 25%;
    width: 150px;
    height: 50px;
    border-radius: 4px;
    font-weight: 700;    
    cursor: pointer;
}
.rightSide input[type="save"]{
    background: #06d7565d;
}

.rightSide input[type="save"]:active{
    background: #06d755;
}

.rightSide input[type="cancel"]{
    /* margin-left: 800px; */
    background: #d706105d;
}

.rightSide input[type="cancel"]:active{
    background: #e60707;
}

.inputBox{
    position: relative;
    width: 480px;
    margin-left: 50px;
    translate: 0 -10px;
}

.inputBox input{
    position: relative;
    width: 92%;
    translate: -100px 0;
    text-align: left;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(183, 183, 183);
    font-size: 1.5em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #06d755;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
    height:52.5px;
    background: rgb(31, 30, 30);
    outline-style: solid;
    outline-color: #06d755;
    z-index: 9;
}

.inputBox span{
    position: absolute;
    font-size: 1.5em;
    translate: 10px -35px;
    color: #06d7565d;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid ~span,
.inputBox input:focus ~span{
    opacity: 0;
    font-size: 1.275em;
}

.infoBlock .changeInfo.input{
    translate: 0 -40px;
}